{% extends 'base/base.html' %}

{% block title%}
	App Mascota
{% endblock%}

{% block content %}
	<div class="container">
		<div class="col-md-12">
			<h1>Esta es la pagina principal de mascota</h1>
		</div>
	</div>
{% endblock %}