{% extends 'base/base.html' %}

{% block title %}
	Ver registros
{% endblock %}

{% block content %}

	<div class="container">
		<ol class="breadcrumb ">
		 <li><a href="/mascota">Mascota</a></li>
		  <li class="active">Listar</li>
		</ol> 

		<table class="table table-striped table-hover ">
			<thead>
				<tr class="info">
					<td>#</td>
					<td>Nombre</td>
					<td>Sexo</td>
					<td>Edad en años</td>
					<td>Fecha de Rescate</td>
					<td>Adoptante</td>
					<td>Acciones</td>
				</tr>
			</thead>

			<tbody>
				{% if object_list %}
					{% for mascota in object_list %}
						<tr>
							<td>{{ mascota.id }}</td>
							<td>{{ mascota.nombre }}</td>
							<td>{{ mascota.sexo }}</td>
							<td>{{ mascota.edad_aproximada }}</td>
							<td>{{ mascota.fecha_rescate }}</td>
							<td>{{ mascota.persona.nombre }} {{ mascota.persona.apellidos }}</td>
							<td>
								<a class="btn btn-primary" href="{% url 'mascota:mascota_editar' mascota.id %}">Editar</a>
								<a class="btn btn-danger" href="{% url 'mascota:mascota_eleminar' mascota.id %}">Eliminar</a>
							</td>
						</tr>
					{% endfor %}
				{% else %}
					<h1>No hay registro de mascotas</h1>
				{% endif %}
			</tbody>
		</table>
	</div>

{% endblock %}