{% extends 'base/base.html' %}

{% block title %}
	Ver registros
{% endblock %}

{% block content %}

	<div class="container">
		<form class="form-horizontal" method="post">
			{% csrf_token %}
			<h1>¿Deseas eliminar el registro de {{ object.nombre }}?</h1>
			<button class="btn btn-danger" type="submit">Si, eliminar</button>
			<a class="btn btn-default" href="{% url 'mascota:mascota_listar' %}">Cancelar</a>
		</form>
	</div>

{% endblock %}