{% extends 'base/base.html' %}

{% block title %}
	Nuevo registro
{% endblock %}

{% block content %}

	<div class="container">
		<ol class="breadcrumb ">
		 <li><a href="/mascota">Mascota</a></li>
		  <li class="active">Registrar</li>
		</ol>

		<form class="form-horizontal" method="post">
			{% csrf_token %}
			{{form.as_p}}
			<button class="btn btn-success" type="submit">Guardar</button>
			<a href="{% url 'mascota:mascota_listar' %}" class="btn btn-danger">Cancelar</a>
		</form>
	</div>

{% endblock %}