{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
	<head>
		<!-- este bloque se puede usar para cargar los link y meta datos-->
		{% block extrahead %}
		{% endblock %}

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %} Document {% endblock %}</title>
		<!-- este parte se llaman los estilos de framework-->
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	</head>
	<body>
		<!-- este es heder para la pagina -->
		{% block header %}
			<nav class="navbar navbar-default">
			  <div class="container-fluid">

			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand" href="/">Home</a>
			    </div>

			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav">
			        <li>
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Mascotas <span class="caret"></span></a>
			          <ul class="dropdown-menu" role="menu">
			            <li><a href="{% url 'mascota:mascota_crear' %}">Registrar</a></li>
			            <li><a href="{% url 'mascota:mascota_listar' %}">Listar</a></li>
			          </ul>
			        </li>
			        <li>
			      	  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Adopciones <span class="caret"></span></a>
			          <ul class="dropdown-menu" role="menu">
			            <li><a href="#">Solicitar</a></li>
			            <li><a href="#">Ver solicitudes</a></li>
			          </ul>
			        </li>
			      </ul>
			      
			      <ul class="nav navbar-nav navbar-right">
			        <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Opciones <span class="caret"></span></a>
			        <ul class="dropdown-menu" role="menu">
			            <li><a href="#">Salir</a></li>
			        </ul></li>
			      </ul>

			    </div>
			  </div>
			</nav>
		{% endblock %}

		<!-- este es el bloque para el contenido de la pagina -->
		{% block content %}
			<h4>este es contenido base</h4>
		{% endblock %}
		
		<!-- este es footer base para las plantillas -->
		{% block footer %}
	        
		{% endblock %}

		<script src="{% static 'js/jquery-3.2.1.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'js/bootstrap.js' %}" type="text/javascript"></script>

		<!-- este bloque se usa para agregar los js -->
		{% block extrajs %}
		{% endblock %}
	</body>
</html>